.carousel__section
    height: 100vh
    background-color: $black
    color: $white

.carousel__item__container
    width: 100%
    height: auto
    display: flex
    justify-content: center

.carousel__item
    width: 100%
    height: auto
    display: flex
    flex-direction: column    
    align-items: center
    justify-content: center
    
    video
        border: none
        
    h1
        z-index: 2
        text-align: center
        font-size: $text-large
        position: absolute
        top: 75%
        color: $black
        //top: 50%
        //right: 50%
